*{
    box-sizing: border-box;
}

body{
    background: rgb(255,255,130);
    background: linear-gradient(147deg, rgba(255,255,130,1) 0%, rgba(255,229,111,0.9500175070028011) 50%, rgba(170,163,158,1) 100%);
}

.busqueda{
    padding: 2rem;
}
.busqueda h2{
    margin: 0.5em;
}
.busqueda input{
    width: 60%;
    border: 3px solid gray;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 1rem;
    box-shadow: 4px 3px 20px 0px rgba(138,138,138,0.76);
    -webkit-box-shadow: 4px 3px 20px 0px rgba(102, 102, 102, 0.76);
    -moz-box-shadow: 4px 3px 20px 0px rgba(71, 71, 71, 0.76);
}
.inventario{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    margin: 1rem;
}
.inventario div{
    text-align: center;
}
.inventario p{
    margin: 1rem;
}