*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(255,255,130);
    background: linear-gradient(147deg, rgba(255,255,130,1) 0%, rgba(255,229,111,0.9500175070028011) 50%, rgba(170,163,158,1) 100%);
}

div .card{
    border: 1px solid black;
    display: flex;
    padding-top: 1em;
    box-shadow: 3px 3px 9px 4px black;
    transition: transform 0.3s ease;
}

div .card:hover{
    transform: scale(1.1);
}

.card-body{
    display: flex;
    align-items: center;
    text-align: center;
}
.card-text{
    align-items: center;
}
.btn{ 
    font-family: Georgia;
    color: #000000;
    font-size: 1em;
    padding: 5px;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
.btn:hover {
    background: #dbdbaf;
}